.container{
    display: flex;
    border: 2px solid goldenrod;
}

.box{
    color: white;
    font-size: 100px;
    text-align: 100px;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 10px;
}

.box1{ background-color: red}
.box2{ background-color: aquamarine}
.box3{ background-color: green}
.box4{ background-color: yellow}
.box5{ background-color: blue}
.box6{ background-color: violet}
.box7{ background-color:fuchsia}
.box8{ background-color: grey}
.box9{ background-color: darkkhaki}
.box10{ background-color:darkred}




